@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&family=Suez+One&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(#013B2C, #095732);
    font-family: Trebuchet MS, Helvetica;
}

.navbar {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style: none;
    padding: 0%;
    margin-bottom: 0%;
}

.navbar-menu li {
    display: inline-block;
    margin-left: 40px;
}

.navbar-menu li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
}

.logo {
    width: 80px;
    margin-right: auto;
}

/* .container {
    background-color: blue;
} */

.deskMain {
    margin-top: 180px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desk {
    margin-right: auto;
    color: white;
    display: inline-block;
}

.desk h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.rightMenu {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    right: 0;
    height: 749px;
    width: 800px;
    border-top-left-radius: 40px;
    background-color: #4A6D14;
}

.rightMenu li {
    margin-bottom: 40px;
    margin-left: 100px;
    list-style-type: none;
}

.rightMenu li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}


.block2 {
    background-color: #eee;
    margin-top: 124px;
    height: 100vh;
}